@model CSPLibrary.CustomerVendorViewModel
@{
    ViewBag.Title = "Customer-Vendor List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="wrapper" id="companySetup">

    @*Render Registered USers table from Editor Template*@
    @Html.DisplayFor(m => m.RegisteredCustomerVendorList, "RegisteredCustomerVendorList")  

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/admin/css")
}

