@model IEnumerable<CSPLibrary.RegisteredUserModel>

<div class="tableHeader" id="contactHeader">
    <span class="headerAction">
        @*<div class="search">
                <form id="filter-form" novalidate="novalidate">
                    <input class="multi filter noEnterKey" rel="table-contacts" type="text" placeholder="Filter..." autocomplete="off" id="LuckyAnchor_561592259_163"> <span class="submitSearch"></span>
                </form>
            </div>*@
        @*<a href="#" class=" add" onclick="Profile.openAddContact();General.clearValidationErrorsPopup();">Add</a>*@
        @*@Html.ActionLink("Add", "Index", "Home", null, new { @class = " add" })*@
        <a id="adduser" type="button" class=" add" href="#add-new-user" data-toggle="modal">Add</a>
    </span>

    <h2>People</h2>
</div>

<div id="contactList">

    <table cellpadding="0" cellspacing="0" border="0" class="tablesorter" id="table-contacts">
        <thead>
            <tr>
                <th width="5" class="header"></th>

                <th class="header"><a href="javascript:;" title="Sort" class="arrow"><span>Name</span></a></th>
                <th class="header"><a href="javascript:;" title="Sort" class="arrow"><span>Email</span></a></th>
                <th class="header"><a href="javascript:;" title="" class="arrow"><span>Phone</span></a></th>
                <th class="header"><a href="javascript:;" title="Sort" class="arrow"><span>Works As</span></a></th>
                <th width="200" class="header">&nbsp;</th>
                @*<th class="filter header"></th>*@
            </tr>
        </thead>

        <tfoot class="noRows">
            <tr class="result">
                <td colspan="11"><div>There are 0 items that match your filter criteria.</div></td>
            </tr>
        </tfoot>

        <tbody>
            @{
                foreach (var user in Model)
                {
                    <tr>
                        <td></td>
                        <td onclick="window.document.location = '/People/DisplayUserProfile?userid=@user.User_Id';"><strong><a href="#">@user.Name</a></strong></td>
                        <td onclick="window.document.location = '/People/DisplayUserProfile?userid=@user.User_Id';">@user.Email</td>
                        <td onclick="window.document.location = '/People/DisplayUserProfile?userid=@user.User_Id';">@user.Phone</td>
                        <td onclick="window.document.location = '/People/DisplayUserProfile?userid=@user.User_Id';"><strong>@user.AccountRole</strong></td>

                        <td>
                            <div class="tool-Links">
                                <a href="/People/EditUser?userid=@user.User_Id" class="flaticon-edit" title="Edit User Profile."></a>
                                <a href="/People/ChangePassword?userid=@user.User_Id" class="flaticon-lock" title="Change password for this user."></a>
                                <a href="#delete-confirmation" data-toggle="modal" refer="/People/DeleteUser?userid=@user.User_Id" class="flaticon-recycle" title="Delete this user."></a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



<div class="modal" id="delete-confirmation">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top:35%">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">Confirm User Deletion</h4>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <p>Are you sure that you want to delete this user ? Please note that once the user is deleted, you can <strong>not revert the operation !</strong> </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            <a id="anchorDelete_" href="" class="btn">Delete User</a>
        </div>
    </div>
</div>