@model CSPLibrary.SoftwareViewModel
@{
    ViewBag.Title = "Software Inventory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrapper" id="companySetup">

    @*Render Registered Software table from Editor Template*@
    @Html.DisplayFor(m => m.RegisteredSoftwareList, "RegisteredSoftwareList")


</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/admin/css")
}
