body {
    background: #262e34;
    text-align:center;
}

#adminForms {
    margin: 0 auto;
    width: 761px;
    height: auto;
    display: block;    
}

    #adminForms input {
        width: 100%;
    }

    #adminForms span {
        clear: both;
        color: #74828d;
        text-transform: uppercase;
        font-size: 12px;
        margin: 17px 0 30px;
        letter-spacing: 1px;
    }

    #adminForms #adminLogo span {
        display: block;
    }

    #adminForms .form {
        background: #d5dce2;
        border: 9px solid #1f262b;
        border-radius: 10px;
        width: 422px;
        height: auto;
        margin: 0 auto;
        padding: 30px 35px;
        text-align: center;
    }

    #adminForms #castShadow {
        background: url(/Content/images/bg/shadow.png) top no-repeat;
        width: 385px;
        height: 31px;
        margin: 0 auto;
        padding-top: 50px;
    }

    #adminForms h1 {
        color: #3d4b54;
        font-weight: normal;
        font-size: 24px;
        text-align: center;
    }

    #adminForms p {
        color: #808b92;
        font-size: 15px;
        text-align: left;
        padding: 20px 0 20px;
        line-height: 19px;
    }

    #adminForms label {
        display: block;
        color: #6c747a;
        font-weight: bold;
        text-align: left;
        padding-top: 10px;
        font-size: 15px;
        margin-bottom:0px;
    }

    #adminForms #castShadow a {
        color: #8595a2;
        font-size: 15px;
    }

        #adminForms #castShadow a:hover {
            color: #E4E9EC;
        }

    #adminForms #submit, #adminForms .link {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        display: inline-block;
        background-color: #3b85aa;
        color: white;
        text-shadow: 0px 1px 0px #1a3b4b;
        font-size: 16px;
        font-weight: bold;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-decoration: none;
        cursor: pointer;
        /*font-size: 20px;*/
        border-bottom: #8dbfd7;
        width: auto;
        padding: 15px 45px;
        margin: 40px auto 20px;
    }

        #adminForms #submit:hover, #adminForms .link:hover {
            background-color: #347697;
            text-decoration: none;
        }

    #adminForms .form span.field-validation-error, #adminForms .form span.field-validation-error span {
        padding: 0;
        margin: 0;
        text-align: left;
        text-transform: none;
        color: #d35d51;
        letter-spacing: normal;
        margin-left: 5px;
        display: block;
    }

    #adminForms .pass {
        position: relative;
    }

        #adminForms .pass input {
            padding: 15px 130px 15px 15px;
        }

        #adminForms .pass .forgotPass {
            position: absolute;
            top: 0;
            right: 0;
            padding: 14px;
            margin: 0;
        }

            #adminForms .pass .forgotPass a {
                color: #3a87ac;
                text-decoration: none;
            }

                #adminForms .pass .forgotPass a:hover {
                    text-decoration: underline;
                }

    #adminForms .cheer {
        padding-top: 0;
        text-align: center;
    }

        #adminForms .cheer span {
            display: block;
        }

.forgotPassWord {
    display: none;
}

    .forgotPassWord .close {
        float: right;
        margin: -20px;
    }

.validation-summary-errors {
    border: 1px solid #d35d51;
    background: #f7e2df;
    padding: 10px 10px 5px;
    margin: 0 0 10px;
}

    .validation-summary-errors ul {
        list-style: none;
        margin: 0;
        padding-left:0px;
    }

        .validation-summary-errors ul li {
            margin: 0 0 5px;
            color: #d35d51;            
        }


input, textarea, select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: block;
    width: 100%;
    background: #e4e9ec;
    border: 1px solid #c0c5c7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    margin: 0px 0;
    color: #3D4B54;
    display: block;
}