@model CSPLibrary.ClientsViewModel

@{
    ViewBag.Title = "Clients List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrapper" id="companySetup">

    @*Render Registered USers table from Editor Template*@
    @Html.DisplayFor(m => m.RegisteredClientsList, "RegisteredClientsList")

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/admin/css")
}

